<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Registrarme</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Iniciar Sesion</h1>
    <img src="assets/car_sharing.jpg" alt="">
  </div>

<form id="form" [formGroup]="formularioLogin">
    <div><ion-input type="text" color="light" formControlName="nombre" placeholder="Usuario"></ion-input></div>
    <div><ion-input type="password" color="light" formControlName="password" placeholder="Contraseña"></ion-input></div>
    <div><ion-button expand="full" shape="round" type="submit" [disabled]="!formularioLogin.valid" (click)="ingresar()" routerDirection="forward">Iniciar Sesion</ion-button></div>
    <div><ion-button expand="full" shape="round" type="submit" routerLink="/restore">Recuperar contraseña</ion-button></div>
</form>

</ion-content>
